.sidebar {
//  background-color: rgb(41, 87, 133); /* 这里设置你想要的背景颜色 */
  background-color: transparent
}
.sidebar-inner{
  padding-top:10px;
}

.sidebar-nav {
  z-index: 100; /* 使用比页面上其他元素更高的值 */
  /* 其他样式保持不变 */
}


.posts-expand {
  .post {
      margin-top: 0px;
      margin-bottom: 20px;
      padding: 50px;
      -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
      -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }
}

// 侧边栏头部
// .site-meta {
//     background: transparent;
// }

// 背景图
// body {
//     background:url(/images/test2.jpeg);
//     background-repeat: no-repeat;
//     background-attachment:fixed; //不重复
//     background-size: 100% 100%;      //填充
//     background-position:50% 50%;
// }

//搜索框（local-search）的透明度设置
// .popup {
//   opacity: 0.9;
// }


// 底部字体颜色(这里是黑色)
.footer-inner {color: #000000;
}

// 设置代码块样式与高亮样式
// code {
//     color: #7B68EE;
//     background: #7B68EEe1;
// //     margin: 2px;
//     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
// }
// // 大代码块的自定义样式
.highlight, pre {
//     margin: 5px 0;
//     padding: 3px;
  // 设置边框弧度
    border-radius: 10px;
//     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
// .highlight, code, pre {
//   border: 1px solid transparent;
//   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
// }

