<div>
  {% if not is_index %}
    <div style="text-align:left;color: #555;font-size:30px;font-family: 'Comic Sans MS','Microsoft YaHei', sans-serif;font-style:italic;">The end &nbsp;<i class="fa-regular fa-face-smile"></i></div>
  {% endif %}
</div>